.SideBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30vw;
    background-color: floralwhite;
    /*height: 100%;*/
    transform-origin: top left;
    overflow: visible;
    display: table;
;
}

.SideBar > * {
    display: inline-table;
}


.inputArea {
    width : 80%;
    height: 10%;
    letter-spacing: 3px;
    resize: none;
}