.Examples {
    position: absolute;
    left: 30vw;
    text-align: center;
    width: calc(100% - 30vw);
    height: 100%;
    transform-origin: top;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
}

.grid-img {
    object-fit: scale-down;
    width: 30%;
    height: 40%;
    /*display: none;*/
}

.grid-item {
    object-fit: scale-down;
}